.advantage {

  &__container {
    max-width: 1320px;
  }

  &-cards {
    width: 100%;
    display: flex;
    justify-content: end;

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      max-width: 872px;

      @media (max-width: 420px) {
        gap: 12px;
      }
    }
  }
}
