.form {
  display: flex;
  align-items: center;
  gap: 25px;

  &-section {
    display: flex;
    flex-direction: column;
    gap: 52px;
    &__header {
      max-width: 645px;
      height: 235px;

      @media(max-width: 850px) {
        height: 100%;
      }
    }

    &__steps {
      &-cards {
        display: flex;
        align-items: center;
        gap: 24px;

        @media(max-width: 1270px) {
          gap: 20px;
          align-items: stretch;
        }

        @media(max-width: 1165px) {
          gap: 12px;
        }

        @media(max-width: 585px) {
          flex-direction: column;
        }
      }
    }

    @media(max-width: 1120px) {
      gap: 20px;
    }
  }

  &-step {
    display: flex;
    flex-direction: column;
    background: #F3F3F3;
    border-radius: 15px;
    padding: 30px;
    max-width: 237px;

    &__number {
      font-size: 64px;
      font-weight: 800;
      color: #0C4C01;

      @media(max-width: 585px) {
        font-size: 32px;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 500;

      @media(max-width: 585px) {
        font-size: 16px;
      }
    }

    @media(max-width: 1270px) {
      padding: 25px;
      width: 33%;
    }

    @media(max-width: 1165px) {
      padding: 20px;
    }

    @media(max-width: 1120px) {
      max-width: 100%;
    }

    @media(max-width: 585px) {
      width: 100%;
    }
  }

  @media(max-width: 1120px) {
    flex-direction: column;
  }
}
