.stock-card {
  display: flex;
  align-items: center;
  gap: 24px;

  &__image {
    max-width: 424px;
    max-height: 424px;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      border-radius: 15px;

      @media (max-width: 1150px) {
        max-height: 100%;
      }
    }

    @media (max-width: 1200px) {
      width: max-content;
      margin: 0 70px;
    }

    @media (max-width: 1150px) {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-title {
      font-size: 24px;
      font-weight: 800;
    }

    &-price {
      display: flex;
      gap: 12px;
      align-items: center;

      img {
        width: 56px;
        height: 56px;
      }

      &_old {
        @media (max-width: 490px) {
          font-size: 16px !important;
        }
      }

      &_new {
        @media (max-width: 490px) {
          font-size: 20px !important;
        }
      }
    }

    &-description {
      max-width: 760px;
      font-size: 20px;
      line-height: 30px;

      @media (max-width: 1150px) {
        text-align: center;
      }

      @media (max-width: 490px) {
        font-size: 16px;
      }
    }

    @media (max-width: 1150px) {
      align-items: center;
    }

    @media (max-width: 887px) {
      width: 80%;
    }

    @media (max-width: 560px) {
      width: 100%;
    }
  }

  @media (max-width: 1150px) {

    flex-direction: column;
    align-content: center;
  }
}

.slick-arrow:before {
  font-size: 42px !important;
  color: #0C4C01 !important;
}

.slick-prev {
  left: -50px !important;
  z-index: 100;

  @media (max-width: 1400px) {
    left: 0 !important;
  }

  @media (max-width: 560px) {
    display: none !important;
  }
}

.slick-next {
  z-index: 100;
  @media (max-width: 1400px) {
    right: 20px !important;
  }
  @media (max-width: 560px) {
    display: none !important;
  }
}
