.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
  &.open {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  padding: 20px;
  width: 100%; // Растягиваем на весь экран
  height: 100%; // Растягиваем на весь экран
  max-width: 100vw; // Убираем ограничение
  max-height: 100vh; // Убираем ограничение
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
  &.open {
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 48px;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: #eca9a9;
  }
}
