@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200..800&family=Montserrat:wght@800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Улучшаем рендеринг изображений */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Убираем стандартные стили кнопок */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Чистим input и textarea */
input, textarea, button, select {
    font: inherit;
    outline: none;
}

/* Базовые стили для body */
body {
    line-height: 1.4;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    background-color: #fff;
    color: #000;
}
