.header {
  display: flex;
  justify-content: space-between;
  max-height: 103px;
  height: 100%;
  align-items: center;
}

.logo {

  &-content {
    display: flex;
    align-items: center;

    img {
      max-width: 60px;
      margin-right: 10px;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0;

    }
  }

  &-worktime {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #4C4A3F;
  }
}

.callme {
  display: flex;
  gap: 12px;

  &-contacts {
    display: flex;
    flex-direction: column;
    align-content: end;
    text-align: end;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #0C4C01;
    gap: 4px;
    justify-content: center;

  }
}

.nav {
  display: flex;
  gap: 24px;

  &-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;

    a {
      text-decoration: none;
      color: #000000;
    }
  }
}

